<a href="https://colab.research.google.com/github/gquinche/AlgorithmsUN2021II/blob/main/labCinco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 21.6 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=a3c8ea85cf8321fcf76face25a2ceb4b229ec8c6cf42a0d1305d7bbedc220b80
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data

aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 149.32, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.29, 'beta3Year': None, 'enterpriseToEbitda': 22.814, '52WeekChange': 0.27478564, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58645, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3467741, 'priceToBook': 38.46471, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2530838839296, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.11005, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.288734, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.64, 'regularMarketOpen': 149.33, 'twoHundredDayAverage': 139.62619, 'trailingAnnualDividendYield': 0.0056175995, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 150.84, 'navPrice': None, 'averageDailyVolume10Day': 65216733, 'regularMarketPreviousClose': 148.64, 'fiftyDayAverage': 146.00772, 'trailingAnnualDividendRate': 0.835, 'open': 149.33, 'toCurrency': None, 'averageVolume10days': 65216733, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 149.0101, 'currency': 'USD', 'trailingPE': 29.232578, 'regularMarketVolume': 60893395, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2468289445888, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75450984, 'dayLow': 149.0101, 'ask': 149.41, 'askSize': 1000, 'volume': 60893395, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 149.34, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1400, 'dayHigh': 150.84, 'regularMarketPrice': 149.32, 'preMarketPrice': 149.325, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182565  23.599834  23.023498  ...  273829600        0.0             0
2016-01-07  22.749166  23.083441  22.230463  ...  324377600        0.0             0
2016-01-08  22.719191  22.848290  22.306534  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831621  40.848381  40.520331  ...  103999600        0.0             0

[503 rows x 7 columns]

In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np

amd = yf.Ticker("AMD")

# get stock info
print(amd.info)

# get historical market data
amd_table = amd.history(start="2021-01-01",  end="2021-09-01")
amd_table

{'zip': '95054', 'sector': 'Technology', 'fullTimeEmployees': 12600, 'longBusinessSummary': 'Advanced Micro Devices, Inc. operates as a semiconductor company worldwide. The company operates in two segments, Computing and Graphics; and Enterprise, Embedded and Semi-Custom. Its products include x86 microprocessors as an accelerated processing unit, chipsets, discrete and integrated graphics processing units (GPUs), data center and professional GPUs, and development services; and server and embedded processors, and semi-custom System-on-Chip (SoC) products, development services, and technology for game consoles. The company provides x86 microprocessors for desktop PCs under the AMD Ryzen, AMD Ryzen PRO, Ryzen, Threadripper, AMD A-Series, AMD FX, AMD Athlon, AMD Athlon PRO, and AMD Pro A-Series processors brands; microprocessors for notebook and 2-in-1s under the AMD Ryzen, AMD A-Series, AMD Athlon, AMD Ryzen PRO, AMD Athlon PRO, and AMD Pro A-Series processors brands; microprocessors for servers under the AMD EPYC and AMD Opteron brands; and chipsets under the AMD trademark. It also offers discrete GPUs for desktop and notebook PCs under the AMD Radeon graphics and AMD Embedded Radeon brands; professional graphics products under the AMD Radeon Pro and AMD FirePro graphics brands; and Radeon Instinct and AMD Instinct accelerators for servers. In addition, the company provides embedded processor solutions under the AMD Opteron, AMD Athlon, AMD Geode, AMD Ryzen, AMD EPYC, AMD R-Series, and G-Series processors brands; and customer-specific solutions based on AMD CPU, GPU, and multi-media technologies, as well as semi-custom SoC products. It serves original equipment manufacturers, public cloud service providers, original design manufacturers, system integrators, independent distributors, online retailers, and add-in-board manufacturers through its direct sales force, independent distributors, and sales representatives. Advanced Micro Devices, Inc. was founded in 1969 and is headquartered in Santa Clara, California.', 'city': 'Santa Clara', 'phone': '408 749 4000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.amd.com', 'maxAge': 1, 'address1': '2485 Augustine Drive', 'industry': 'Semiconductors', 'ebitdaMargins': 0.21746999, 'profitMargins': 0.25757, 'grossMargins': 0.45712003, 'operatingCashflow': 2743000064, 'revenueGrowth': 0.993, 'operatingMargins': 0.19018, 'ebitda': 2900999936, 'targetLowPrice': 90, 'recommendationKey': 'buy', 'grossProfits': 4347000000, 'freeCashflow': 1889250048, 'targetMedianPrice': 117.5, 'currentPrice': 122.93, 'earningsGrowth': 3.448, 'currentRatio': 2.703, 'returnOnAssets': 0.18358, 'numberOfAnalystOpinions': 34, 'targetMeanPrice': 117.9, 'debtToEquity': 9.299, 'returnOnEquity': 0.66268, 'targetHighPrice': 169.7, 'totalCash': 3792999936, 'totalDebt': 657000000, 'totalRevenue': 13340000256, 'totalCashPerShare': 3.127, 'financialCurrency': 'USD', 'revenuePerShare': 11.071, 'quickRatio': 2.012, 'recommendationMean': 2.3, 'exchange': 'NMS', 'shortName': 'Advanced Micro Devices, Inc.', 'longName': 'Advanced Micro Devices, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AMD', 'messageBoardId': 'finmb_168864', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 10.891, 'beta3Year': None, 'enterpriseToEbitda': 50.08, '52WeekChange': 0.5512171, 'morningStarRiskRating': None, 'forwardEps': 3.07, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1212969984, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 5.824, 'sharesShort': 62455085, 'sharesPercentSharesOut': 0.0515, 'fundFamily': None, 'lastFiscalYearEnd': 1608940800, 'heldPercentInstitutions': 0.69706, 'netIncomeToCommon': 3436000000, 'trailingEps': 2.837, 'lastDividendValue': None, 'SandP52WeekChange': 0.3467741, 'priceToBook': 21.107487, 'heldPercentInsiders': 0.00427, 'nextFiscalYearEnd': 1672012800, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.48, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 1205808787, 'beta': 1.997883, 'enterpriseValue': 145282433024, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 966902400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 3.522, 'priceToSalesTrailing12Months': 11.177691, 'dateShortInterest': 1632960000, 'pegRatio': 1.51, 'ytdReturn': None, 'forwardPE': 40.042347, 'lastCapGain': None, 'shortPercentOfFloat': 0.051799998, 'sharesShortPriorMonth': 64854437, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 122.36, 'regularMarketOpen': 122.99, 'twoHundredDayAverage': 94.22676, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 127.2, 'navPrice': None, 'averageDailyVolume10Day': 40467416, 'regularMarketPreviousClose': 122.36, 'fiftyDayAverage': 107.426575, 'trailingAnnualDividendRate': None, 'open': 122.99, 'toCurrency': None, 'averageVolume10days': 40467416, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': 798940800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 122.5782, 'currency': 'USD', 'trailingPE': 43.330986, 'regularMarketVolume': 58493742, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 149110407168, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 62512527, 'dayLow': 122.5782, 'ask': 122.14, 'askSize': 1000, 'volume': 58493742, 'fiftyTwoWeekHigh': 127.2, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 72.5, 'bid': 122.06, 'tradeable': False, 'dividendYield': None, 'bidSize': 2200, 'dayHigh': 127.2, 'regularMarketPrice': 122.93, 'preMarketPrice': 122.87, 'logo_url': 'https://logo.clearbit.com/amd.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-01-04   92.110001   96.059998  ...          0             0
2021-01-05   92.099998   93.209999  ...          0             0
2021-01-06   91.620003   92.279999  ...          0             0
2021-01-07   91.330002   95.510002  ...          0             0
2021-01-08   95.980003   96.400002  ...          0             0
...                ...         ...  ...        ...           ...
2021-08-25  108.129997  109.910004  ...          0             0
2021-08-26  108.570000  109.230003  ...          0             0
2021-08-27  108.010002  111.779999  ...          0             0
2021-08-30  112.610001  114.489998  ...          0             0
2021-08-31  111.260002  111.260002  ...          0             0

[167 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
amd = amd_table['Open']['2021']

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480762
2017-01-06    27.787132
2017-01-09    28.041647
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, Length: 251, dtype: float64

In [ ]:
print(amd)

Date
2021-01-04     92.110001
2021-01-05     92.099998
2021-01-06     91.620003
2021-01-07     91.330002
2021-01-08     95.980003
                 ...
2021-08-25    108.129997
2021-08-26    108.570000
2021-08-27    108.010002
2021-08-30    112.610001
2021-08-31    111.260002
Name: Open, Length: 167, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086288
2017-03-02    32.889832
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022381
2017-03-08    32.899307
2017-03-09    32.823563
2017-03-10    32.932442
2017-03-13    32.946644
2017-03-14    32.896938
2017-03-15    33.244862
2017-03-16    33.299297
2017-03-17    33.133621
2017-03-20    33.481552
2017-03-21    33.098114
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287468
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111137
2017-03-30    34.066162
2017-03-31    34.002262
Name: Close, dtype: float64

In [ ]:
print(amd['2021-7'])

Date
2021-07-01     94.040001
2021-07-02     93.279999
2021-07-06     94.879997
2021-07-07     95.019997
2021-07-08     87.860001
2021-07-09     90.040001
2021-07-12     91.220001
2021-07-13     90.480003
2021-07-14     90.760002
2021-07-15     89.779999
2021-07-16     87.320000
2021-07-19     84.989998
2021-07-20     87.089996
2021-07-21     87.250000
2021-07-22     89.400002
2021-07-23     91.349998
2021-07-26     92.010002
2021-07-27     92.940002
2021-07-28     93.440002
2021-07-29     96.580002
2021-07-30    101.599998
Name: Open, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341722
2017-02-02    30.289881
2017-02-03    30.419497
2017-02-06    30.704643
2017-02-07    30.996866
                ...
2017-04-24    33.997528
2017-04-25    34.208172
2017-04-26    34.006989
2017-04-27    34.033020
2017-04-28    33.999886
Name: Close, Length: 61, dtype: float64

In [ ]:
print(amd['2021-6':'2021-8'])

Date
2021-06-01     81.010002
2021-06-02     81.000000
2021-06-03     81.129997
2021-06-04     80.919998
2021-06-07     81.400002
                 ...
2021-08-25    108.129997
2021-08-26    108.570000
2021-08-27    108.010002
2021-08-30    112.610001
2021-08-31    111.260002
Name: Open, Length: 65, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480762
2017-01-06    27.787132
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244404
2017-12-19    41.794231
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, dtype: float64

In [ ]:

print(amd.head(20))
print(amd.tail(30))

Date
2021-01-04    92.110001
2021-01-05    92.099998
2021-01-06    91.620003
2021-01-07    91.330002
2021-01-08    95.980003
2021-01-11    94.029999
2021-01-12    97.860001
2021-01-13    93.010002
2021-01-14    91.769997
2021-01-15    90.750000
2021-01-19    89.559998
2021-01-20    90.550003
2021-01-21    89.339996
2021-01-22    94.419998
2021-01-25    94.139999
2021-01-26    94.910004
2021-01-27    91.099998
2021-01-28    89.830002
2021-01-29    87.559998
2021-02-01    86.830002
Name: Open, dtype: float64
Date
2021-07-21     87.250000
2021-07-22     89.400002
2021-07-23     91.349998
2021-07-26     92.010002
2021-07-27     92.940002
2021-07-28     93.440002
2021-07-29     96.580002
2021-07-30    101.599998
2021-08-02    105.930000
2021-08-03    108.150002
2021-08-04    114.360001
2021-08-05    116.629997
2021-08-06    110.550003
2021-08-09    111.309998
2021-08-10    107.900002
2021-08-11    107.599998
2021-08-12    107.389999
2021-08-13    107.169998
2021-08-16    110.199997
2021-08-17    106.639999
2021-08-18    107.349998
2021-08-19    103.320000
2021-08-20    104.320000
2021-08-23    105.300003
2021-08-24    109.449997
2021-08-25    108.129997
2021-08-26    108.570000
2021-08-27    108.010002
2021-08-30    112.610001
2021-08-31    111.260002
Name: Open, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606275
2017-03-31    33.282220
2017-04-30    33.819261
2017-05-31    36.125684
2017-06-30    35.133982
2017-07-31    35.245242
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654548
2017-11-30    41.233915
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [ ]:
 amdTicker = yf.Ticker("AMD")

In [ ]:
amdTicker.history?

In [ ]:
amdHistoryMonthly = amdTicker.history(start="2020-1-1",end="2021-1-1",interval="1mo")["Open"]
amdHistorydaily = amdTicker.history(start="2020-1-1",end="2021-1-1")["Open"]

print(amdHistoryMonthly)
print(amdHistorydaily.resample("M").mean())
# Recordemos que la bolsa cierra los fines de semana luego realmente en algunas fechas no se tienen los valores dados

Date
2020-01-01    46.860001
2020-02-01    46.400002
2020-03-01    47.419998
2020-04-01    44.180000
2020-05-01    51.070000
2020-06-01    53.310001
2020-07-01    52.630001
2020-08-01    78.190002
2020-09-01    91.919998
2020-10-01    83.059998
2020-11-01    75.849998
2020-12-01    92.250000
Name: Open, dtype: float64
Date
2020-01-31    49.077619
2020-02-29    51.120526
2020-03-31    44.465909
2020-04-30    52.033809
2020-05-31    53.568000
2020-06-30    53.720000
2020-07-31    59.712727
2020-08-31    82.976190
2020-09-30    80.204286
2020-10-31    82.720910
2020-11-30    82.778500
2020-12-31    93.390455
Freq: M, Name: Open, dtype: float64

In [71]:
def checkMagicYear(startDay,leapYear=0):
  monthDays = [31,28+leapYear,31,30,31,30,31,31,30,31,30,31]
  for monthDay in monthDays:
    startDay = startDay % 7
    if startDay< 2:
      print("Sadly :( it's "+ ["Saturday","Sunday"][startDay])
      return False
    else:
      print("it's " + ["monday","tuesday","wednesday","thursday","friday"][startDay-2])
      startDay = startDay + monthDay  
  #we don't check final month
  print("success!")
  return True
for j in [0,1]:
  for i in range(7): #considera los 7 posibles días como inicio de año
    print(j*7+i+1, end="st ")
    print("try with "+ ["Saturday","Sunday","monday","tuesday","wednesday","thursday","friday"][i] + " as starting day" )
    checkMagicYear(i,leapYear=j)

1st try with Saturday as starting day
Sadly :( it's Saturday
2st try with Sunday as starting day
Sadly :( it's Sunday
3st try with monday as starting day
it's monday
it's thursday
it's thursday
Sadly :( it's Sunday
4st try with tuesday as starting day
it's tuesday
it's friday
it's friday
it's monday
it's wednesday
Sadly :( it's Saturday
5st try with wednesday as starting day
it's wednesday
Sadly :( it's Saturday
6st try with thursday as starting day
it's thursday
Sadly :( it's Sunday
7st try with friday as starting day
it's friday
it's monday
it's monday
it's thursday
Sadly :( it's Saturday
8st try with Saturday as starting day
Sadly :( it's Saturday
9st try with Sunday as starting day
Sadly :( it's Sunday
10st try with monday as starting day
it's monday
it's thursday
it's friday
it's monday
it's wednesday
Sadly :( it's Saturday
11st try with tuesday as starting day
it's tuesday
it's friday
Sadly :( it's Saturday
12st try with wednesday as starting day
it's wednesday
Sadly :( it's Saturday
13st try with thursday as starting day
it's thursday
Sadly :( it's Sunday
14st try with friday as starting day
it's friday
it's monday
it's tuesday
it's friday
Sadly :( it's Sunday


We can also aggregate the data by week:

In [75]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097736
2017-01-22    28.266116
2017-01-29    28.553979
2017-02-05    29.662542
Freq: W-SUN, Name: Close, dtype: float64

In [77]:
 amd_weekly = amd.resample('W').mean()
 amd_weekly

Date
2021-01-10     92.628001
2021-01-17     93.484000
2021-01-24     90.967499
2021-01-31     91.508000
2021-02-07     88.058000
2021-02-14     91.370000
2021-02-21     90.824999
2021-02-28     85.124001
2021-03-07     83.160001
2021-03-14     78.728001
2021-03-21     81.374001
2021-03-28     78.028000
2021-04-04     77.557501
2021-04-11     82.078000
2021-04-18     81.045999
2021-04-25     80.751999
2021-05-02     85.107999
2021-05-09     79.070000
2021-05-16     75.217998
2021-05-23     75.496001
2021-05-30     77.838002
2021-06-06     81.014999
2021-06-13     81.198000
2021-06-20     81.779999
2021-06-27     84.189999
2021-07-04     90.386000
2021-07-11     91.949999
2021-07-18     89.912001
2021-07-25     88.015999
2021-08-01     95.314001
2021-08-08    111.124001
2021-08-15    108.273999
2021-08-22    106.365999
2021-08-29    107.892000
2021-09-05    111.935001
Freq: W-SUN, Name: Open, dtype: float64

We can also aggregate the data by month with max:

In [78]:
aapl.resample('M').max()

Date
2017-01-31    28.739208
2017-02-28    32.451969
2017-03-31    34.111137
2017-04-30    34.264977
2017-05-31    37.099136
2017-06-30    36.944649
2017-07-31    36.471706
2017-08-31    39.129723
2017-09-30    39.141655
2017-10-31    40.332245
2017-11-30    42.050137
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

In [81]:
amd.resample('M').max()

Date
2021-01-31     97.860001
2021-02-28     93.900002
2021-03-31     86.919998
2021-04-30     88.849998
2021-05-31     81.970001
2021-06-30     90.820000
2021-07-31    101.599998
2021-08-31    116.629997
Freq: M, Name: Open, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [82]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787132
2017-01-09    28.110777
2017-01-12    28.078176
2017-01-15    28.279665
                ...
2017-12-17    42.019318
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522724
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172572
2017-02-05    29.108261
2017-02-19    31.516816
2017-03-05    32.595556
2017-03-19    33.017883
2017-04-02    33.625219
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697631
2017-05-28    36.496179
2017-06-11    36.515006
2017-06-25    34.529044
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272773
2017-08-20    37.904121
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840873
2017-10-15    37.071594
2017-10-29    37.757318
2017-11-12    41.032236
2017-11-26    41.204377
2017-12-10    40.867066
2017-12-24    41.620867
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056854
2017-07-31    35.186963
2017-09-30    37.761186
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [83]:
 
amd_five_day =   amd.resample('5D').mean()
amd_three_week = amd.resample('3W').mean()
amd_four_month = amd.resample('4M').mean()


print(amd_five_day)
print(amd_three_week)
print(amd_four_month )

Date
2021-01-04     92.628001
2021-01-09     94.966667
2021-01-14     91.259998
2021-01-19     90.967499
2021-01-24     92.495001
2021-01-29     87.626666
2021-02-03     88.323334
2021-02-08     91.370000
2021-02-13     92.230000
2021-02-18     88.996666
2021-02-23     84.367500
2021-02-28     84.200001
2021-03-05     77.920001
2021-03-10     79.626668
2021-03-15     81.374001
2021-03-20     79.223333
2021-03-25     76.500000
2021-03-30     77.733335
2021-04-04     81.897499
2021-04-09     81.510000
2021-04-14     81.166667
2021-04-19     80.751999
2021-04-24     85.956665
2021-04-29     83.213333
2021-05-04     78.344999
2021-05-09     75.517498
2021-05-14     74.326665
2021-05-19     76.173335
2021-05-24     77.838002
2021-05-29     81.005001
2021-06-03     81.149999
2021-06-08     81.147499
2021-06-13     81.154999
2021-06-18     83.556666
2021-06-23     84.853333
2021-06-28     90.386000
2021-07-03     94.949997
2021-07-08     89.706668
2021-07-13     89.585001
2021-07-18     87.182499
2021-07-23     92.100001
2021-07-28     97.206668
2021-08-02    111.124001
2021-08-07    108.936666
2021-08-12    108.253332
2021-08-17    105.407499
2021-08-22    107.862499
2021-08-27    110.626668
Freq: 5D, Name: Open, dtype: float64
Date
2021-01-10     92.628001
2021-01-31     92.059285
2021-02-21     90.031428
2021-03-14     82.337334
2021-04-04     79.088572
2021-04-25     81.291999
2021-05-16     79.798665
2021-06-06     77.909286
2021-06-27     82.389333
2021-07-18     90.663571
2021-08-08     98.151334
2021-08-29    107.510666
2021-09-19    111.935001
Freq: 3W-SUN, Name: Open, dtype: float64
Date
2021-01-31    92.208947
2021-05-31    81.756265
2021-09-30    94.430615
Freq: 4M, Name: Open, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [84]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245286
2017-02-05    0.943260
2017-02-12    0.252003
2017-02-19    0.231392
2017-02-26    0.059348
2017-03-05    0.340092
2017-03-12    0.076285
2017-03-19    0.177831
2017-03-26    0.157266
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212473
2017-04-23    0.174671
2017-04-30    0.090024
2017-05-07    0.235635
2017-05-14    0.352983
2017-05-21    0.536092
2017-05-28    0.060394
2017-06-04    0.281225
2017-06-11    0.620039
2017-06-18    0.382566
2017-06-25    0.128896
2017-07-02    0.264110
2017-07-09    0.158892
2017-07-16    0.404285
2017-07-23    0.124987
2017-07-30    0.384444
2017-08-06    0.924392
2017-08-13    0.467468
2017-08-20    0.435252
2017-08-27    0.275765
2017-09-03    0.251725
2017-09-10    0.381636
2017-09-17    0.294143
2017-09-24    0.735189
2017-10-01    0.354843
2017-10-08    0.204854
2017-10-15    0.118730
2017-10-22    0.516998
2017-10-29    0.680459
2017-11-05    0.560687
2017-11-12    0.190970
2017-11-19    0.436200
2017-11-26    0.563044
2017-12-03    0.427444
2017-12-10    0.073128
2017-12-17    0.205266
2017-12-24    0.194125
2017-12-31    0.190397
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220755
2017-01-22    28.279665
2017-01-29    28.739208
2017-02-05    30.419497
2017-02-12    31.341909
2017-02-19    32.122978
2017-02-26    32.451969
2017-03-05    33.086288
2017-03-12    33.022381
2017-03-19    33.299297
2017-03-26    33.481552
2017-04-02    34.111137
2017-04-09    34.264977
2017-04-16    33.886276
2017-04-23    33.713501
2017-04-30    34.208172
2017-05-07    35.256683
2017-05-14    37.099136
2017-05-21    37.004066
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838955
2017-06-25    34.779541
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421238
2017-07-23    35.891800
2017-07-30    36.471706
2017-08-06    37.346291
2017-08-13    38.277931
2017-08-20    38.557102
2017-08-27    38.170563
2017-09-03    39.141655
2017-09-10    38.671616
2017-09-17    38.533237
2017-09-24    37.872322
2017-10-01    36.798634
2017-10-08    37.075413
2017-10-15    37.457169
2017-10-22    38.287472
2017-10-29    38.903065
2017-11-05    41.157795
2017-11-12    42.050137
2017-11-19    41.657745
2017-11-26    41.897194
2017-12-03    41.686474
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244404
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041647
2017-01-22    28.227821
2017-01-29    28.272596
2017-02-05    28.597813
2017-02-12    30.704643
2017-02-19    31.547831
2017-02-26    32.314682
2017-03-05    32.409367
2017-03-12    32.823563
2017-03-19    32.896938
2017-03-26    33.098114
2017-04-02    33.344276
2017-04-09    33.926510
2017-04-16    33.384510
2017-04-23    33.296932
2017-04-30    33.997528
2017-05-07    34.681541
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443176
2017-06-04    36.305332
2017-06-11    35.406963
2017-06-18    33.812252
2017-06-25    34.463440
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347546
2017-08-13    37.058712
2017-08-20    37.578854
2017-08-27    37.509659
2017-09-03    38.526077
2017-09-10    37.848469
2017-09-17    37.764950
2017-09-24    36.240337
2017-10-01    35.920609
2017-10-08    36.619698
2017-10-15    37.182781
2017-10-22    37.216179
2017-10-29    37.261513
2017-11-05    39.778698
2017-11-12    41.575329
2017-11-19    40.486813
2017-11-26    40.702324
2017-12-03    40.582592
2017-12-10    40.470051
2017-12-17    41.114182
2017-12-24    41.748734
2017-12-31    40.522724
Freq: W-SUN, Name: Close, dtype: float64

In [85]:
 
amd_std = amd.resample('M').std()
amd_max = amd.resample('M').max()
amd_min = amd.resample('M').min()


print(amd_std)
print(amd_max)
print(amd_min)

Date
2021-01-31    2.538489
2021-02-28    3.030269
2021-03-31    3.029103
2021-04-30    2.293252
2021-05-31    2.258289
2021-06-30    2.724786
2021-07-31    3.802294
2021-08-31    3.164076
Freq: M, Name: Open, dtype: float64
Date
2021-01-31     97.860001
2021-02-28     93.900002
2021-03-31     86.919998
2021-04-30     88.849998
2021-05-31     81.970001
2021-06-30     90.820000
2021-07-31    101.599998
2021-08-31    116.629997
Freq: M, Name: Open, dtype: float64
Date
2021-01-31     87.559998
2021-02-28     83.400002
2021-03-31     75.849998
2021-04-30     78.989998
2021-05-31     73.160004
2021-06-30     80.019997
2021-07-31     84.989998
2021-08-31    103.320000
Freq: M, Name: Open, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [86]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423561
2017-03-31    34.002262
2017-04-30    33.999886
2017-05-31    36.305332
2017-06-30    34.228165
2017-07-31    35.347546
2017-08-31    39.129723
2017-09-30    36.772396
2017-10-31    40.332245
2017-11-30    41.150105
2017-12-31    40.522724
Freq: M, Name: Close, dtype: float64

In [94]:
 print(amd.resample('M').agg(lambda x:1+sum(x)/len(x)))
 print(amd.resample('M').mean())
 print(amd.resample('M').agg(lambda x: x[10]))
print(amd.resample('M').agg(lambda x: x[-1]))

Date
2021-01-31     93.208947
2021-02-28     89.740000
2021-03-31     80.848696
2021-04-30     83.146666
2021-05-31     77.905500
2021-06-30     83.932272
2021-07-31     92.491905
2021-08-31    109.734091
Freq: M, Name: Open, dtype: float64
Date
2021-01-31     92.208947
2021-02-28     88.740000
2021-03-31     79.848696
2021-04-30     82.146666
2021-05-31     76.905500
2021-06-30     82.932272
2021-07-31     91.491905
2021-08-31    108.734091
Freq: M, Name: Open, dtype: float64
Date
2021-01-31     89.559998
2021-02-28     93.900002
2021-03-31     81.910004
2021-04-30     83.300003
2021-05-31     74.220001
2021-06-30     81.589996
2021-07-31     87.320000
2021-08-31    110.199997
Freq: M, Name: Open, dtype: float64
Date
2021-01-31     87.559998
2021-02-28     83.570000
2021-03-31     76.570000
2021-04-30     82.970001
2021-05-31     78.660004
2021-06-30     90.820000
2021-07-31    101.599998
2021-08-31    111.260002
Freq: M, Name: Open, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [95]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [96]:
 
amd_monthly_return = amd.resample('M').agg(lambda x: x[-1]/x[0] - 1)
amd_monthly_return

Date
2021-01-31   -0.049397
2021-02-28   -0.037545
2021-03-31   -0.103081
2021-04-30    0.035055
2021-05-31   -0.040381
2021-06-30    0.121096
2021-07-31    0.080391
2021-08-31    0.050316
Freq: M, Name: Open, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [97]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863260777253473
0.0522585192011838
0.09901840613238377

In [99]:

print(amd_monthly_return.mean())
print(amd_monthly_return.std())
print(amd_monthly_return.max())

0.00705688317433853
0.07615318201228442
0.12109612763738453

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [100]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825748
2017-03-31    1.578701
2017-04-30   -0.002377
2017-05-31    2.305447
2017-06-30   -2.077168
2017-07-31    1.119381
2017-08-31    3.782177
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817860
2017-12-31   -0.627380
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [101]:
print(amd_last_day.diff())
print(amd_last_day.pct_change())

Date
2021-01-31          NaN
2021-02-28     4.340004
2021-03-31   -11.989998
2021-04-30     1.389999
2021-05-31    -9.080002
2021-06-30     7.369995
2021-07-31     5.730003
2021-08-31    22.879997
Freq: M, Name: Open, dtype: float64
Date
2021-01-31         NaN
2021-02-28    0.048459
2021-03-31   -0.127689
2021-04-30    0.016970
2021-05-31   -0.109004
2021-06-30    0.099299
2021-07-31    0.070229
2021-08-31    0.262025
Freq: M, Name: Open, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [102]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [103]:

# Fill na with 0
amd_daily_return = amd_last_day.pct_change()
amd_daily_return.fillna(0)

Date
2021-01-31    0.000000
2021-02-28    0.048459
2021-03-31   -0.127689
2021-04-30    0.016970
2021-05-31   -0.109004
2021-06-30    0.099299
2021-07-31    0.070229
2021-08-31    0.262025
Freq: M, Name: Open, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [104]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [109]:

# Backward fill
amd_daily_return = amd_last_day.pct_change()
amd_daily_return.fillna(method = 'bfill')

Date
2021-01-31    0.048459
2021-02-28    0.048459
2021-03-31   -0.127689
2021-04-30    0.016970
2021-05-31   -0.109004
2021-06-30    0.099299
2021-07-31    0.070229
2021-08-31    0.262025
Freq: M, Name: Open, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [110]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [111]:
 
amd_daily_return = amd_last_day.pct_change()
amd_daily_return.dropna()

Date
2021-02-28    0.048459
2021-03-31   -0.127689
2021-04-30    0.016970
2021-05-31   -0.109004
2021-06-30    0.099299
2021-07-31    0.070229
2021-08-31    0.262025
Freq: M, Name: Open, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames

The most common method of creating a DataFrame is passing a dictionary:

In [112]:
import pandas as pd

example_dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(example_dict, index = data_index)
df

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [115]:
import pandas as pd

example_dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'colores':["amarillo","azul","rojo","verde","amarillo"],
        'IBM':[x % 2 == 0 for x in range(5)]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(example_dict, index = data_index)
df

              AAPL   colores    IBM
2017-07-03  143.50  amarillo   True
2017-07-04  144.09      azul  False
2017-07-05  142.73      rojo   True
2017-07-06  144.18     verde  False
2017-07-07  143.77  amarillo   True

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [116]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [126]:

amd_df = amd_table
print(amd.tail(5))
print(amd.Open.tail(5))

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-08-25  108.129997  109.910004  ...          0             0
2021-08-26  108.570000  109.230003  ...          0             0
2021-08-27  108.010002  111.779999  ...          0             0
2021-08-30  112.610001  114.489998  ...          0             0
2021-08-31  111.260002  111.260002  ...          0             0

[5 rows x 7 columns]
Date
2021-08-25    108.129997
2021-08-26    108.570000
2021-08-27    108.010002
2021-08-30    112.610001
2021-08-31    111.260002
Name: Open, dtype: float64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [134]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
aapl_month

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852384  22.440247  21.750948  ...  257666000        0.0             0
2016-02-29  22.450757  22.768304  22.402082  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785533  21.954737  21.442491  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296776  24.380727  24.177845  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367390  26.580749  26.212647  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [142]:
amd_2021 =amd_df['2021']
amd_month = amd_2021.resample('M').agg(lambda x: np.max(x)-np.min(x))
amd_month

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2021-01-31  10.300003  10.900002   9.050003  ...   39133200          0             0
2021-02-28  10.500000   9.110001  12.540001  ...   25076800          0             0
2021-03-31  11.070000  10.389999  10.180000  ...   27803200          0             0
2021-04-30   9.860001   9.070000   7.189995  ...   79592400          0             0
2021-05-31   8.809998   6.970001   6.160004  ...   43612200          0             0
2021-06-30  10.800003  12.889999  11.639999  ...   53511900          0             0
2021-07-31  16.610001  19.739998  17.139999  ...  136423300          0             0
2021-08-31  13.309998  16.509995  12.180000  ...  179883200          0             0

[8 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [138]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247
2016-02-29  22.450757  22.768304  22.402082  22.411354
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296776  24.380727  24.177845  24.301439
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [143]:

amd_bar = amd_month[['High','Open']]
print(amd_bar)

                 High       Open
Date
2021-01-31  10.900002  10.300003
2021-02-28   9.110001  10.500000
2021-03-31  10.389999  11.070000
2021-04-30   9.070000   9.860001
2021-05-31   6.970001   8.809998
2021-06-30  12.889999  10.800003
2021-07-31  19.739998  16.610001
2021-08-31  16.509995  13.309998

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [144]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [146]:

amd_month.loc['2020-03':'2021-05',['Open', 'High', 'Low', 'Close']]

                 Open       High        Low      Close
Date
2021-01-31  10.300003  10.900002   9.050003  11.610001
2021-02-28  10.500000   9.110001  12.540001  11.349998
2021-03-31  11.070000  10.389999  10.180000  12.430000
2021-04-30   9.860001   9.070000   7.189995   6.860001
2021-05-31   8.809998   6.970001   6.160004   6.990005

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [147]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [151]:

import numpy as np

amd_above = amd_bar[amd_bar.High > np.mean(amd_bar.High)]
print("only High greater than " + str(np.mean(amd_bar.High)))
print(amd_above)
# using query()
#above_query = 'High > {}'.format(np.mean(nvda_above.High))
#nvda_above = amd_bar.query(above_query)
#nvda_above

only High greater than 11.94749927520752
                 High       Open
Date
2021-06-30  12.889999  10.800003
2021-07-31  19.739998  16.610001
2021-08-31  16.509995  13.309998

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [152]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [153]:

amd_bar['rate_return'] = amd_bar.High.pct_change()
amd_bar

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 High       Open  rate_return
Date
2021-01-31  10.900002  10.300003          NaN
2021-02-28   9.110001  10.500000    -0.164220
2021-03-31  10.389999  11.070000     0.140505
2021-04-30   9.070000   9.860001    -0.127045
2021-05-31   6.970001   8.809998    -0.231532
2021-06-30  12.889999  10.800003     0.849354
2021-07-31  19.739998  16.610001     0.531420
2021-08-31  16.509995  13.309998    -0.163627

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [154]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [156]:

amd_missing = amd_bar.isnull()
print(amd_missing)
amd_missing.describe()

             High   Open  rate_return
Date
2021-01-31  False  False         True
2021-02-28  False  False        False
2021-03-31  False  False        False
2021-04-30  False  False        False
2021-05-31  False  False        False
2021-06-30  False  False        False
2021-07-31  False  False        False
2021-08-31  False  False        False

         High   Open rate_return
count       8      8           8
unique      1      1           2
top     False  False       False
freq        8      8           7

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [157]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [158]:

amd_missing[amd_missing.rate_return == True]

             High   Open  rate_return
Date
2021-01-31  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [159]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247     0.000000
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [160]:

drop = amd_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = amd_bar.fillna(0)
fill

                 High       Open  rate_return
Date
2021-02-28   9.110001  10.500000    -0.164220
2021-03-31  10.389999  11.070000     0.140505
2021-04-30   9.070000   9.860001    -0.127045
2021-05-31   6.970001   8.809998    -0.231532
2021-06-30  12.889999  10.800003     0.849354
2021-07-31  19.739998  16.610001     0.531420
2021-08-31  16.509995  13.309998    -0.163627

--------------------------------------------------

                 High       Open  rate_return
Date
2021-01-31  10.900002  10.300003     0.000000
2021-02-28   9.110001  10.500000    -0.164220
2021-03-31  10.389999  11.070000     0.140505
2021-04-30   9.070000   9.860001    -0.127045
2021-05-31   6.970001   8.809998    -0.231532
2021-06-30  12.889999  10.800003     0.849354
2021-07-31  19.739998  16.610001     0.531420
2021-08-31  16.509995  13.309998    -0.163627

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [162]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [166]:

s1 = pd.Series([x-390*3854/23*43%3 for x in range(9)], name= 'randome')
s2 = pd.Series([np.random.random_integers(100) for x in range(9)], name= 'Real Randome')
data_frame = pd.concat([s1,s2], axis = 1)
data_frame

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: This function is deprecated. Please call randint(1, 100 + 1) instead
  This is separate from the ipykernel package so we can avoid doing imports until

    randome  Real Randome
0 -1.695652            89
1 -0.695652            78
2  0.304348            92
3  1.304348            29
4  2.304348            24
5  3.304348            38
6  4.304348            60
7  5.304348            61
8  6.304348            72

The "axis = 1" parameter will join two DataFrames by columns:

In [167]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN   3.110856
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211   3.229314
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504   3.277361
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [170]:

amd_log_price = np.log(amd_bar.High)
amd_log_price.name = 'log_price'
print(amd_log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([amd_bar, amd_log_price], axis = 1)
concat

Date
2021-01-31    2.388763
2021-02-28    2.209373
2021-03-31    2.340844
2021-04-30    2.204972
2021-05-31    1.941615
2021-06-30    2.556452
2021-07-31    2.982647
2021-08-31    2.803966
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 High       Open  rate_return  log_price
Date
2021-01-31  10.900002  10.300003          NaN   2.388763
2021-02-28   9.110001  10.500000    -0.164220   2.209373
2021-03-31  10.389999  11.070000     0.140505   2.340844
2021-04-30   9.070000   9.860001    -0.127045   2.204972
2021-05-31   6.970001   8.809998    -0.231532   1.941615
2021-06-30  12.889999  10.800003     0.849354   2.556452
2021-07-31  19.739998  16.610001     0.531420   2.982647
2021-08-31  16.509995  13.309998    -0.163627   2.803966

We can also join two DataFrames by rows. Consider these two DataFrames:

In [171]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104028  34.153733  33.909947  33.999886

In [185]:
 
amd_df_volume = amd_table.loc['2021-3':'2021-7',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(amd_df_volume)
print('\n---------------------- separate line--------------------\n')
amd_df_2020 = amdTicker.history(start="2019-1-1",end="2021-1-1").loc['2020-1':'2020-12',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
amd_df_2020

               Volume  Stock Splits
Date
2021-03-31   43659500             0
2021-04-30   46601900             0
2021-05-31   40952700             0
2021-06-30   70721500             0
2021-07-31  125567000             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2020-01-31  48.400002  48.580002  46.790001  47.000000
2020-02-29  41.360001  46.150002  41.040001  45.480000
2020-03-31  47.930000  48.529999  45.160000  45.480000
2020-04-30  53.430000  54.290001  52.029999  52.389999
2020-05-31  52.070000  53.799999  51.849998  53.799999
2020-06-30  51.160000  52.770000  50.820000  52.610001
2020-07-31  78.669998  78.959999  75.360001  77.430000
2020-08-31  85.050003  92.639999  85.050003  90.820000
2020-09-30  81.750000  82.940002  80.660004  81.989998
2020-10-31  77.089996  77.699997  74.230003  75.290001
2020-11-30  87.330002  92.739998  86.529999  92.660004
2020-12-31  92.099998  92.300003  90.870003  91.709999

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [175]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852384  22.440247  ...          NaN           NaN
2016-02-29  22.450757  22.768304  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296776  24.380727  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367390  26.580749  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [177]:

concat = pd.concat([amd_bar, amd_df_volume], axis = 1)
concat

                 High       Open  rate_return       Volume  Stock Splits
Date
2021-01-31  10.900002  10.300003          NaN          NaN           NaN
2021-02-28   9.110001  10.500000    -0.164220          NaN           NaN
2021-03-31  10.389999  11.070000     0.140505   43659500.0           0.0
2021-04-30   9.070000   9.860001    -0.127045   46601900.0           0.0
2021-05-31   6.970001   8.809998    -0.231532   40952700.0           0.0
2021-06-30  12.889999  10.800003     0.849354   70721500.0           0.0
2021-07-31  19.739998  16.610001     0.531420  125567000.0           0.0
2021-08-31  16.509995  13.309998    -0.163627          NaN           NaN

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [178]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [179]:
 
concat = pd.concat([amd_bar,amd_df_volume],axis = 1, join = 'inner')
concat

                 High       Open  rate_return     Volume  Stock Splits
Date
2021-03-31  10.389999  11.070000     0.140505   43659500             0
2021-04-30   9.070000   9.860001    -0.127045   46601900             0
2021-05-31   6.970001   8.809998    -0.231532   40952700             0
2021-06-30  12.889999  10.800003     0.849354   70721500             0
2021-07-31  19.739998  16.610001     0.531420  125567000             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [180]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [186]:

append = amd_bar.append(amd_df_2020)
append #notice order is now not respected

                 High       Open  rate_return        Low      Close
Date
2021-01-31  10.900002  10.300003          NaN        NaN        NaN
2021-02-28   9.110001  10.500000    -0.164220        NaN        NaN
2021-03-31  10.389999  11.070000     0.140505        NaN        NaN
2021-04-30   9.070000   9.860001    -0.127045        NaN        NaN
2021-05-31   6.970001   8.809998    -0.231532        NaN        NaN
2021-06-30  12.889999  10.800003     0.849354        NaN        NaN
2021-07-31  19.739998  16.610001     0.531420        NaN        NaN
2021-08-31  16.509995  13.309998    -0.163627        NaN        NaN
2020-01-31  48.580002  48.400002          NaN  46.790001  47.000000
2020-02-29  46.150002  41.360001          NaN  41.040001  45.480000
2020-03-31  48.529999  47.930000          NaN  45.160000  45.480000
2020-04-30  54.290001  53.430000          NaN  52.029999  52.389999
2020-05-31  53.799999  52.070000          NaN  51.849998  53.799999
2020-06-30  52.770000  51.160000          NaN  50.820000  52.610001
2020-07-31  78.959999  78.669998          NaN  75.360001  77.430000
2020-08-31  92.639999  85.050003          NaN  85.050003  90.820000
2020-09-30  82.940002  81.750000          NaN  80.660004  81.989998
2020-10-31  77.699997  77.089996          NaN  74.230003  75.290001
2020-11-30  92.739998  87.330002          NaN  86.529999  92.660004
2020-12-31  92.300003  92.099998          NaN  90.870003  91.709999

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [187]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [189]:

concat = pd.concat([amd_bar, amd_df_2020], axis = 0)
concat

                 High       Open  rate_return        Low      Close
Date
2021-01-31  10.900002  10.300003          NaN        NaN        NaN
2021-02-28   9.110001  10.500000    -0.164220        NaN        NaN
2021-03-31  10.389999  11.070000     0.140505        NaN        NaN
2021-04-30   9.070000   9.860001    -0.127045        NaN        NaN
2021-05-31   6.970001   8.809998    -0.231532        NaN        NaN
2021-06-30  12.889999  10.800003     0.849354        NaN        NaN
2021-07-31  19.739998  16.610001     0.531420        NaN        NaN
2021-08-31  16.509995  13.309998    -0.163627        NaN        NaN
2020-01-31  48.580002  48.400002          NaN  46.790001  47.000000
2020-02-29  46.150002  41.360001          NaN  41.040001  45.480000
2020-03-31  48.529999  47.930000          NaN  45.160000  45.480000
2020-04-30  54.290001  53.430000          NaN  52.029999  52.389999
2020-05-31  53.799999  52.070000          NaN  51.849998  53.799999
2020-06-30  52.770000  51.160000          NaN  50.820000  52.610001
2020-07-31  78.959999  78.669998          NaN  75.360001  77.430000
2020-08-31  92.639999  85.050003          NaN  85.050003  90.820000
2020-09-30  82.940002  81.750000          NaN  80.660004  81.989998
2020-10-31  77.699997  77.089996          NaN  74.230003  75.290001
2020-11-30  92.739998  87.330002          NaN  86.529999  92.660004
2020-12-31  92.300003  92.099998          NaN  90.870003  91.709999

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [190]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN        NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211        NaN
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441488  25.986656  26.045572          NaN  26.300090
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153733  33.909947  33.999886          NaN  34.104028

In [191]:

amd_df_2020.columns = ['Change', 'High','Low','Close']
concat = pd.concat([amd_bar, amd_df_2020], axis = 0)
concat

                 High       Open  rate_return     Change        Low      Close
Date
2021-01-31  10.900002  10.300003          NaN        NaN        NaN        NaN
2021-02-28   9.110001  10.500000    -0.164220        NaN        NaN        NaN
2021-03-31  10.389999  11.070000     0.140505        NaN        NaN        NaN
2021-04-30   9.070000   9.860001    -0.127045        NaN        NaN        NaN
2021-05-31   6.970001   8.809998    -0.231532        NaN        NaN        NaN
2021-06-30  12.889999  10.800003     0.849354        NaN        NaN        NaN
2021-07-31  19.739998  16.610001     0.531420        NaN        NaN        NaN
2021-08-31  16.509995  13.309998    -0.163627        NaN        NaN        NaN
2020-01-31  48.580002        NaN          NaN  48.400002  46.790001  47.000000
2020-02-29  46.150002        NaN          NaN  41.360001  41.040001  45.480000
2020-03-31  48.529999        NaN          NaN  47.930000  45.160000  45.480000
2020-04-30  54.290001        NaN          NaN  53.430000  52.029999  52.389999
2020-05-31  53.799999        NaN          NaN  52.070000  51.849998  53.799999
2020-06-30  52.770000        NaN          NaN  51.160000  50.820000  52.610001
2020-07-31  78.959999        NaN          NaN  78.669998  75.360001  77.430000
2020-08-31  92.639999        NaN          NaN  85.050003  85.050003  90.820000
2020-09-30  82.940002        NaN          NaN  81.750000  80.660004  81.989998
2020-10-31  77.699997        NaN          NaN  77.089996  74.230003  75.290001
2020-11-30  92.739998        NaN          NaN  87.330002  86.529999  92.660004
2020-12-31  92.300003        NaN          NaN  92.099998  90.870003  91.709999

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.